---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: myapps.eighth.cloudclub.com
spec:
  group: eighth.cloudclub.com
  names:
    kind: MyApp
    listKind: MyAppList
    plural: myapps
    singular: myapp
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MyApp is the Schema for the myapps API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MyAppSpec defines the desired state of MyApp.
            properties:
              replicas:
                description: Replicas is the number of nginx pod replicas to deploy
                format: int32
                minimum: 1
                type: integer
              username:
                description: Username is the username to display in the nginx welcome
                  message
                type: string
            required:
            - username
            type: object
          status:
            description: MyAppStatus defines the observed state of MyApp.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
